body, html {
    height: 100%;
}
#homeHeader {
    height: 100%; 
    padding-top:270px;
    padding-left: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/Brightness_Contrast\ 1\ copy.jpg");
}
#productsHeader {
    height: 100%; 
    padding-top:270px;
    padding-left: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/products/bg.png");
}
.nav-background {
    background: #B8B9BB0D 0% 0% no-repeat padding-box;
    box-shadow: 17px 27px 101px #00000030;
    opacity: 1;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 0;
    border-radius: 0;
}
.navbar-inverse .navbar-nav>li>a{
    color: white;
}
.text-center {
    text-align: center!important;
}
.text-left {
    text-align: left!important;
}
.text-right {
    text-align: right!important;
}
.headerText {
    color: white;
}
.headerLongText {
    width: 450px;
}

.featureSection {
    text-align: center;
    color: white;
    padding: 70px 200px;
    background-color: #000000;
}
.features {
    margin-top: 20px;
}
.feature {
    text-align: center;
    color: white;
    background-color: #0D0D0D;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #0D0D0D;
    margin-right: 3px;
    width: 300px;
    height: 230px;
}
.description {
    padding-top: 30px;
    text-align: center;
}
.description p {
    width: 240px;
    justify-content: center;
    word-wrap: break-word;
}
h2 {
    color: #3C34D1;
}
.detailExplorerBg {
    background-color: #000000; 
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    background-image: url('../images/controler.png')
}
.detailExplorer {
    color: white;
    padding: 70px 200px;
}
.detailHeading {
    padding-top: 10px;
    color: #2A2693
}
.detailText {
    width: 100%;
}
.playExplore {
    color: white;
    padding: 70px 190px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/play-explore-bg.jpg");
}
.playExploreText {
    width: 300px;
    word-wrap: break-word;
    justify-content: center;
}
.playExplorerCard {
    border-radius: 5px;
    border: 1px solid #0D0D0D;
    float:left;
    width: 300px;
    height: 370px;
}
.products {
    text-align: center;
    padding: 70px 200px;
    background-color: #000000;
    color: white;
}
.leftProductCard {
    width: 100%;
    height: 400px;
    background: #0D0D0D 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 85px #4239E717;
    border-radius: 10px;
    opacity: 1;
    padding: 15px;
}
.productCard {
    padding: 15px;
    height: 194px;
    margin-bottom: 10px;
    border: 1px solid #0D0D0D;
    background: #1D1E20 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
}
.products-card {
    padding: 25px;
    height: 220px;
    border: 1px solid #0D0D0D;
    background: #1D1E20 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
}
.productHeading {
    margin-bottom: 25px;
    text-align: left;
}
.product2 {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/product2.png");
}
.productPrice {
    text-align: left;
}
.mt {
    margin-top: 20px;
}
.productImage {
    margin-top: 40px;
    width: 250px; 
    height: 250px;
}
.productCart {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-top: 5px;
    padding-top: 12px;
    padding-left: 12px;
    background: #4239E7 0% 0% no-repeat padding-box;
}
.headerButtons {
    margin-top: 20px;
}
.btn-primary {
    width: 140px;
    background: transparent linear-gradient(318deg, #4C55FD 0%, #3E2DDD 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 94px #375AE854;
    border-radius: 4px;
    opacity: 1;
    margin-right: 5px;
}
.btn-secondary {
    width: 140px;
    background: #FFFFFF00 0% 0% no-repeat padding-box;
    border: 2px solid #EEEEEE;
    border-radius: 4px;
    opacity: 1;
}
.btnAccessories{
    background: #FFFFFF00 0% 0% no-repeat padding-box;
    border: 2px solid #EEEEEE;
    border-radius: 4px;
    opacity: 1;
}
.playExplore {
    color: white;
    padding: 70px 190px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/play-explore-bg.jpg");
}
/*Footer*/
.footerBg {
    color: white;
    padding-top: 50px;
    padding-bottom: 30px; 
	padding-right: 190px;
	padding-left: 190px;
    background: #191919 0% 0% no-repeat padding-box;
	width: 100%;
}
.footLogo{
	padding-bottom: 20px;
}
.halfOpacity{
	opacity: 0.5;
	font-size: 18px;
}
.footPhone{
	font-size: 16px;
	background: transparent url('../images/ic_call.png') 0% 0% no-repeat padding-box;
	padding-left: 35px;
	opacity: 0.5;
}
.footAddress{
	font-size: 16px;
	background: transparent url('../images/ic_location.png') 0% 0% no-repeat padding-box;
	padding-left: 35px;
	opacity: 0.5;
}
li {
    list-style: none;
}
footer a{
	opacity: 0.5;
	line-height: 35px;
}
footer a:hover{
	color:white;
	opacity: 0.5;
}
footer a:visited{
	color:white;
}
.footTextbox{
	background: #333333 0% 0% no-repeat padding-box;
	border-radius: 4px;
	opacity: 1;
	margin-bottom: 10px;
	width: 100%;
	font-size: 16px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.copyright {
    padding: 5px 200px;
    height: 50px;
    background: #0D0D0D 0% 0% no-repeat padding-box;
}
.socialIcons {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    float:left;
    padding-left: 13px;
    padding-top: 10px;
    margin-right: 3px;
    background: #191919 0% 0% no-repeat padding-box;
}

.devBg {
    background-color: #000000; 
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/dev-bg.png')
}
.developmentContainer {
    color: white;
    padding: 30px 200px;
    
}
.blog {
    color: white;
    padding: 70px 200px;
    background-color: #000000; 
}
.blog1 {
    padding: 25px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/blog1.jpg');
    height: 300px;
    margin-bottom: 10px;
}

.blog2 {
    padding: 25px;
    border-radius: 10px;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/blog2.jpg');
    margin-bottom: 10px;
}

.productSection {
    color: white;
    padding: 10px 200px;
    background-color: #000000;
}
.specifications {
    color: white;
    padding: 30px 200px;
    background-color: #000000;
}
.pc-powered {
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/products/pc-powered.png');
}
.lenses {
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/products/lenses.png');
}
.headband {
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/products/headband.png');
}
.pc-powered-text {
    padding-top: 100px;
}
.storage {
    height: 485px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/products/storage.png');
}
.productDetail {
    height: 470px;
    background: #0D0D0D 0% 0% no-repeat padding-box;
    border-radius: 10px;
    opacity: 1;
}
.buy-now {
    height: 50px;
    padding-top: 10px;
    border-radius: 10px;
    border-bottom: 1px solid #3E2DDD;
    background-color: #3E2DDD;
    position:absolute;
    bottom:0;
    width: 94%
}
.btnMemory {
    background-color: black;
    color: white;
}
.p20 {
    padding: 20px;
}
.spec-card {
    padding: 25px;
    background: #0D0D0D 0% 0% no-repeat padding-box;
    border-radius: 10px;
}

#appsContainer {
    width: 100%;
    color: white;
    background-color: black;
    padding: 10% 10% 2% 10%;
}

.category {
    text-align: center;
    color: white;
    background-color: #0D0D0D;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #0D0D0D;
} 
.featuredCard {
    float:left;
    width: 300px;
    height: 370px;
}
.honor {
    background: #0D0D0D;
    border-radius: 10px;
}
.honorPic {
    height: 350px;
    width: 99%;
    border-radius: 10px 0px 0px 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/apps-games/honor.png');
}
.p0 {
    padding: 0px;
}
.mt20 {
    margin-top: 20px;
}
.banner {
    height: 500px;
    width: 99%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../images/apps-games/banner.png');
}
.bodyVR {
    height: 350px;
    width: 99%;
    border-radius: 10px 0px 0px 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/apps-games/body-vr.png');
}
#indHeaderContainer {
    width: 100%;
    height: 100%;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/industry/banner.png');
    padding: 20% 10% 2% 10%;
}

#devHeader {
    width: 100%;
    height: 100%;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/development/banner.png');
    opacity: 1;
    padding: 20% 10% 2% 10%;
}
.btn-join{
    width: 230px;
    box-shadow: 0px 6px 94px #375AE854;
    border-radius: 4px;
    opacity: 1;
    margin-right: 5px;
}
.portal {
    text-align: center;
    color: white;
    /* padding: 70px 200px; */
    background-color: #000000;
}
.portalCard {
    text-align: center;
    color: white;
    background-color: #0D0D0D;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #0D0D0D;
    margin-right: 3px;
    width: 300px;
    height: 370px;
}
.dev-service1 {
    padding: 25px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/development/service1.png');
    height: 300px;
    margin-bottom: 10px;
}
.dev-service2 {
    padding: 25px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../images/development/service2.png');
    height: 300px;
    margin-bottom: 10px;
}